body {
    font-family: 'Open Sans Condensed';
    padding: 20px 60px;
}

a {
    text-decoration: none;
    color: black;
}

* {
    box-sizing: border-box;
}

@media (min-width: 1700px) {
    body{
        padding: 20px 300px;
    }
}